# .gitignore file
#
# Set up for Visual Studio Environment
#
# Special gitignore for release branch only containing the publish folder

# Object files
*.o
*.ko
*.obj
*.elf

# Project Folders
Service References/
test_cases/
user_guide/
bin/
obj/
code_templates/
Properties/

# Executables
#*.exe

# VS specific
~*.*
.vs/
obj/
build/
dist/
private/
disassembly/
*.pdb
*.suo
*.zip
*.mk
*.bash
Makefile-genesis.properties


# Misc
user_guide/pictures/
code_templates/
test_cases/
bin/Debug/
.svn
*.bak



